@model BlogBody
@{
    ViewBag.Title = "AddBlog";
}

<h2>AddBlog</h2>

@using (Html.BeginForm("BlogSave", "Blog"))
{
    @Html.ValidationSummary()
    <table class="table table-bordered">
        <tr>
            <td>标题</td>
            <td>
                @Html.TextBoxFor(o=>o.Title)
                @Html.ValidationMessageFor(o => o.Title)
            </td>
        </tr>
        <tr>
            <td>博客内容</td>
            <td>
                @Html.TextAreaFor(o=>o.Body)
                @Html.ValidationMessageFor(o => o.Body)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success">提交</button>
                <button type="reset" class="btn btn-danger">取消</button>
            </td>
        </tr>
     </table>
}

