
@{
    ViewBag.Title = "Index";
    var a = ViewBag.BlogBodys as List<BlogBody>;

    
}

<h2>博客</h2>
<fieldset>
    <form method="get" action="@Url.Action("Index")">
        搜索:<input type="text" name="c" value="@ViewBag.c" /> <button type="submit" class="btn btn-success">搜索</button>
    </form>
</fieldset>
<ol>
    @foreach (var it in a)
    {
        <li>
            @Html.ActionLink("[编辑]", "Change", new { id = it.Id }) |
            @Html.ActionLink("[删除]", "Delete", new { id = it.Id }) |
            @Html.ActionLink(@it.Title, "Show", new { id = it.Id }) |
        </li>
    }
</ol>